@import url('reset.css');

/* General Codrops Demo Style */
body{
	background: url(../../img/background-pattern.jpg) repeat top left;
	color:#fff;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size:14px;
}
#logo {
	width: 100%;
	text-align: center;
	margin-bottom: -25px; 
	}
	
#logo img {
	max-width: 100%;
	}

h2 a{
	color:#ddd !important;
	text-decoration:none;
}
a:hover{
	color:#00c6e3;
}
p.sub{
	padding:25px 10px 10px 10px;
	text-align:left;
	color:#aaa;
}
.clr{
	clear:both;
}
h1{
	margin:25px 0px 5px 5px ;
	font-size:30px;
	text-align:center;
	color:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-shadow:1px 1px 1px #000;
	padding-bottom:10px;
	line-height:40px;
}
h1 span{
	font-size:12px;
	display:block;
	letter-spacing:2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: rgba(51,51,51,1);
	line-height:14px;
	padding-top:10px;
	text-shadow:none;
	text-transform:uppercase;
}

h2 {
/*	margin:25px 5px 5px 5px ;
*/	font-size:15px;
	text-align:center;
	color:#fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-shadow:1px 1px 1px #000;
	padding-bottom:5px;
	line-height:30px;
}

/* Header Style */
.header{
	font-size:13px;
	background:#000;
	opacity:0.9;
	text-transform:uppercase;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.header a{
	line-height:18px;
	padding:0 4px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
}
.header a:hover{
	color:#fff;
}
.header a span{
	font-weight:bold;
}
.header span.right_ab{
	float:right;
}
.content{
	margin:0px 25px 30px 25px;
}

@media screen and (max-width: 801px) {
	#rodo {
		display: none
	}
	.header a{
		display:block;
		text-align:center;
		font-size:10px;
		text-shadow:none;
	}
	.header span.right_ab{
		float:none;
	}

}